function Tank.init 0
push constant 384
push constant 960
push constant 960
push constant 960
push constant 960
push constant 960
push constant 960
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
call Imege.new 16
pop static 3
push constant 511
push constant 511
push constant 511
push constant 511
push constant 511
push constant 511
push constant 32767
push constant 1
neg
push constant 1
neg
push constant 32767
push constant 511
push constant 511
push constant 511
push constant 511
push constant 511
push constant 511
call Imege.new 16
pop static 2
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 1
neg
push constant 960
push constant 960
push constant 960
push constant 960
push constant 960
push constant 960
push constant 384
call Imege.new 16
pop static 0
push constant 128
neg
push constant 128
neg
push constant 128
neg
push constant 128
neg
push constant 128
neg
push constant 128
neg
push constant 2
neg
push constant 1
neg
push constant 1
neg
push constant 2
neg
push constant 128
neg
push constant 128
neg
push constant 128
neg
push constant 128
neg
push constant 128
neg
push constant 128
neg
call Imege.new 16
pop static 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Imege.new 16
pop static 4
push constant 0
return
function Tank.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 1
pop this 1
push argument 0
pop this 0
push argument 2
pop this 2
push pointer 0
call Tank.show 1
pop temp 0
push pointer 0
return
function Tank.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Tank.hide 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Tank.show 0
push argument 0
pop pointer 0
push this 2
push constant 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 0
push this 0
push this 1
call Imege.print 3
pop temp 0
label IF_FALSE0
push this 2
push constant 4
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 1
push this 0
push this 1
call Imege.print 3
pop temp 0
label IF_FALSE1
push this 2
push constant 6
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push static 2
push this 0
push this 1
call Imege.print 3
pop temp 0
label IF_FALSE2
push this 2
push constant 8
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push static 3
push this 0
push this 1
call Imege.print 3
pop temp 0
label IF_FALSE3
push constant 0
return
function Tank.hide 0
push argument 0
pop pointer 0
push static 4
push this 0
push this 1
call Imege.print 3
pop temp 0
push constant 0
return
function Tank.get_direction 0
push argument 0
pop pointer 0
push this 2
return
function Tank.turn_right 0
push argument 0
pop pointer 0
push this 2
push constant 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 4
pop this 2
push pointer 0
call Tank.show 1
pop temp 0
push constant 0
return
label IF_FALSE0
push this 2
push constant 4
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 8
pop this 2
push pointer 0
call Tank.show 1
pop temp 0
push constant 0
return
label IF_FALSE1
push this 2
push constant 6
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 2
pop this 2
push pointer 0
call Tank.show 1
pop temp 0
push constant 0
return
label IF_FALSE2
push this 2
push constant 8
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 6
pop this 2
push pointer 0
call Tank.show 1
pop temp 0
push constant 0
return
label IF_FALSE3
push constant 0
return
function Tank.turn_left 0
push argument 0
pop pointer 0
push this 2
push constant 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 6
pop this 2
push pointer 0
call Tank.show 1
pop temp 0
push constant 0
return
label IF_FALSE0
push this 2
push constant 4
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 2
pop this 2
push pointer 0
call Tank.show 1
pop temp 0
push constant 0
return
label IF_FALSE1
push this 2
push constant 6
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 8
pop this 2
push pointer 0
call Tank.show 1
pop temp 0
push constant 0
return
label IF_FALSE2
push this 2
push constant 8
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 4
pop this 2
push pointer 0
call Tank.show 1
pop temp 0
push constant 0
return
label IF_FALSE3
push constant 0
return
function Tank.move_forward 0
push argument 0
pop pointer 0
push this 2
push constant 8
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 1
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push pointer 0
call Tank.hide 1
pop temp 0
push this 1
push constant 1
sub
pop this 1
push pointer 0
call Tank.show 1
pop temp 0
label IF_FALSE0
push this 2
push constant 4
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push constant 1
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
return
label IF_FALSE3
push pointer 0
call Tank.hide 1
pop temp 0
push this 0
push constant 1
sub
pop this 0
push pointer 0
call Tank.show 1
pop temp 0
label IF_FALSE2
push this 2
push constant 2
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 1
push constant 14
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
return
label IF_FALSE5
push pointer 0
call Tank.hide 1
pop temp 0
push this 1
push constant 1
add
pop this 1
push pointer 0
call Tank.show 1
pop temp 0
label IF_FALSE4
push this 2
push constant 6
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 0
push constant 30
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
return
label IF_FALSE7
push pointer 0
call Tank.hide 1
pop temp 0
push this 0
push constant 1
add
pop this 0
push pointer 0
call Tank.show 1
pop temp 0
label IF_FALSE6
push constant 0
return
function Tank.move_backward 0
push argument 0
pop pointer 0
push this 2
push constant 8
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 14
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push pointer 0
call Tank.hide 1
pop temp 0
push this 1
push constant 1
add
pop this 1
push pointer 0
call Tank.show 1
pop temp 0
label IF_FALSE0
push this 2
push constant 4
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push constant 30
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
return
label IF_FALSE3
push pointer 0
call Tank.hide 1
pop temp 0
push this 0
push constant 1
add
pop this 0
push pointer 0
call Tank.show 1
pop temp 0
label IF_FALSE2
push this 2
push constant 2
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 1
push constant 1
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
return
label IF_FALSE5
push pointer 0
call Tank.hide 1
pop temp 0
push this 1
push constant 1
sub
pop this 1
push pointer 0
call Tank.show 1
pop temp 0
label IF_FALSE4
push this 2
push constant 6
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 0
push constant 1
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
return
label IF_FALSE7
push pointer 0
call Tank.hide 1
pop temp 0
push this 0
push constant 1
sub
pop this 0
push pointer 0
call Tank.show 1
pop temp 0
label IF_FALSE6
push constant 0
return
function Tank.get_x 0
push argument 0
pop pointer 0
push this 0
return
function Tank.get_y 0
push argument 0
pop pointer 0
push this 1
return
